<div ng-app="myApp" ng-controller="ProController">
 <div class="container-fluid">
	<div class="col-md-4 col-md-offset-4">

<label for="text" >Product Name:</label>
<input type="text"  required="required" class="form-control" name="Pname" ng-model="ProductName"/>
        <label for="email">Product Price:</label>   
 <input type="text" class="form-control"  required="required" name="Pprice" ng-model="ProductPrice"/>
<label for="text">Product Description:</label>
<input type="text" name="Pdesc" class="form-control"  required="required"  ng-model="ProductDesc" />
<label for="text">Product Category</label>
<input type="text" name="Pcategory"  required="required" ng-model="ProductCategory" class="form-control"/>		
				 		
<label for="text">Product Quantity</label>
<input type="text" class="form-control" ng-model="ProductQuant"  required="required" name="Pquantity"/>				
<div>

<button type="button" class="btn btn-link"
					ng-click="openFileChooser();">Change</button>
					
<input type="file" id="trigger" ng-show="false"
					onchange="angular.element(this).scope().setFile(this)"
					accept="image/*" file-model="myFile" />

</div>
 <input type="submit" value="Add Product"  id="Add-Product" class="btn btn-success" ng-click="CreateProduct()"/>
          </div>
          </div>
 </div>